<app-main-nav [currentUser]="user"></app-main-nav>
<app-repo-filters></app-repo-filters>

<div *ngIf="currentUser" style="margin-top:1rem;">
<div class="row">
    <div class="col-sm-6 col-md-4" style="margin-bottom:3rem;" *ngFor="let repo of currentUser | sort:sortingFilter">
        <div class="card">
            <div class="card-block">
             <h4 class="brand-secondary card-info">{{repo.name}}</h4>
             <p class="language brand-callout">{{repo.language || 'N/A'}}</p>
                <div class="card-text brand-primary">
                    <p class="description">{{repo.description || 'No Description'}} </p>
                    <p class="brand-success padding-top-1"><b *ngIf="repo.private">Private</b>
                    <b *ngIf="!repo.private">Public</b></p>
                    <p><b>Created:</b> {{repo.created_at | date}}</p>
                    <p><b>Last edited:</b> {{repo.updated_at | date}}</p>
                </div>
                <div style="margin-top:2rem;" class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="showModal(repo)"><i class="icon-DownloadArrow"></i> Archive</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <h4 class="text-center"><i class="icon-exclamation" style="font-size:5rem;"></i></h4>
      <div class="modal-body" *ngIf="currentRepo">
        Are you sure you want to archive the <b>{{currentRepo.name}}</b> repository?
      </div>
      <div class="text-center" style="margin-bottom:2rem;">
      	<button type="button" class="btn btn-primary btn-md" aria-label="Archive" 
      	(click)="archive$.next(currentRepo);staticModal.hide()">
      	Archive
        </button>
      </div>
    </div>
  </div>
</div>




