 <div class="row">
 	<div class="container text-center">
 		<span class="arrow-top"></span>
 		<!-- <span class="arrow-left"></span>
 		<span class="arrow-right"></span> -->
  	<div class="intro" style="margin-top:2rem;width:420px;margin:0 auto;">
   		<h1 class="brand-primary">Github Archiver</h1>
   		<h3 class="brand-secondary">Welcome</h3>
   		<p class="brand-primary">Do we need any extra text to tell users about this cool tool?</p>
   			  <a class="btn button-primary" href="http://localhost:8006/auth/github">
   				 <i class="icon-github"></i>Login with <span>Github</span>
   			  </a>
  	</div>
  	<!-- <span class="download-left"></span>
  	<span class="download-bottom"></span>
  	<span class="download-right"></span> -->
  </div>
</div>




  <div class="row">
        <div class="col-xs-4 col-lg-8 offset-lg-2">
          <a class="btn button-primary" href="http://localhost:8006/auth/azure">
           <i class="icon-github"></i>Login with <span>Azure</span>
          </a>
        </div>
      </div>