<div class="row">
	<span class="nav-item float-left">
    <i class="icon-DownloadArrow"></i>
  </span>
	<ul class="nav justify-content-center">
		<li class="nav-item" [ngClass]="{'active': activeLink === 'personal'}">
    	<a class="button-link nav-link" (click)="goToPersonal(currentUser.user.login)">Personal</a>
  	</li>
  	<li class="nav-item">
    	<a class="button-link nav-link" (click)="goTo('organizations')">Organizations</a>
  	</li>
	</ul>
  <span class="nav-item float-right" *ngIf="currentUser">
    <img [src]="currentUser.user.avatar_url" />
  </span>
</div>
