img{
	display: inline-block;
	border-radius: 100%;
	height:66px;
	width:66px;
	border:2px solid #cfcfcf;
}

ul{
	margin:0 auto;
	li{
		float:left;
		&.active{
			a{
				color:#3b74c1;
				font-weight: 400;
			}
		}
	}
}