ul{
	margin:0 auto;
	li{
		list-style-type: none;
		display: inline-block;
		float:left;
		font-size: 1.5rem;
		font-weight: 200;
		margin-left:1rem;
	}
	&.secondary{
		margin-top:1.5rem;
		li{
			a{
				color:#727272;
			}
			&.active{
				a{
					color:#3b74c1;
					font-weight: 400;
				}
			}
		}
	}
}