<div class="row">
	<ul class="nav secondary justify-content-center">
  	<li class="nav-item" [ngClass]="{'active': activeLink === 'stargazers_count'}">
    	<a class="nav-link" (click)="sortFilter('stargazers_count')">Popular
    	</a>
  	</li>
  	<li class="nav-item" [ngClass]="{'active': activeLink === 'created_at'}">
    	<a class="nav-link" (click)="sortFilter('created_at')">Most Recent</a>
  	</li>
  	<li class="nav-item" [ngClass]="{'active': activeLink === 'name'}">
    	<a class="nav-link" (click)="sortFilter('name')">A-Z</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Archived</a>
    </li>
    <li class="nav-item" [ngClass]="{'active': activeLink === 'private'}">
      <a class="nav-link" (click)="sortFilter('private')">Private</a>
    </li>
  </ul>
</div>